*{
    margin: 0px;
    padding: 0px;
    font-family: 微軟正黑體;
}
body{
    overflow-x: hidden;
    width: auto;
}
/*排列*/
.all{
  margin: 0;
  width: auto;

}
.root-body{
    display: flex;
    flex-direction: row;
    width: auto;
}
/*關於我*/
.about{
    width:auto;
    background-color:#DFDEDB;
}
.big {
    position: relative;
    top: 2%;
    bottom: 2%;
    width: 50%;
    height: 50%;
}

.big-image {
    transition: transform 1s ease;
    width: 100%;
    height: 100%;
    padding:7.5%;
}

.big:hover .big-image, .big:focus .big-image {
    transform: rotate(-7deg);
}
.aboutme{
    width: 180px;
    background-color:#F0F38F;
    writing-mode: vertical-lr;
    z-index: 20;
}
.aboutme-word{
    letter-spacing: 10px;
    padding: 50px;
    padding-top: 105px;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/*名言特效*/
.container {
    position:relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 180px;
    opacity: 0;
    transition: .0.5s ease;
    background-color: lightgoldenrodyellow;
}
.container:hover .overlay{
    opacity: 1;
  }
  
.text{   
    font-size: 50px;
    letter-spacing: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px;
    padding-top: 100px;
}

/*基本資料*/
.about table{
    position: relative;
    border-collapse: collapse;
    font-size: 30px;
    margin-top: 110px;
    margin-left: 30px;
    letter-spacing: 4px;
}
.icon{
    width: 40px;
    height: 40px;
    padding-right: 50px;
}

.about table td{
    padding: 20px;
    transition: all .3s ease-out;
}
.about table td:hover{
    color: white;
    transform: rotate(-3deg);
}
.about table td:active{
    transform: translateY(4px);
}
/*skill*/
.skills-content{
   margin-top: 195px;
   margin-left: -280px;
}
.skills{
    width: 30%;
    height: 85px;
    background-color:#F0F38F;
    margin-top: 75px;
    margin-bottom: 100px;
    transition: .2s ease;
}

.skills-text{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
    padding-top: 48px;
    text-align: right;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-name: slidein1;
    -moz-animation-name: slidein1;
    
}
@-webkit-keyframes slidein1 {
    from {
      padding-left: 0;
      width: 0%;
    }

    to {
      padding-left: 0%;
      width: 100%;
    }
  }
  
  @-moz-keyframes slidein1 {
    from {
      padding-left: 0;
      width: 0%;
    }
 
    to {
      padding-left: 0%;
      width: 100%;
    }
  }



.bar {
    display: flex;
    font-size: 25px;
    width: 450px;
    margin-top: 35px;
    margin-left:45px;
  }
  
  .barItem {
    width: 130px;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .barBack {
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border: #D3D3D3 solid 0px;
    margin-left: 10px;
    background-color: #D3D3D3;
    overflow: hidden;
  }
  
  .barIn {
    height: 90%;
    border-radius: 10px;
    border: #e9ad52 solid 1px;
    background: #e9ad52;
    -webkit-animation: load 2.5s ease-in;
  }
  
  @-webkit-keyframes load {
    0% {
      width: 0%;
    }
  
    100% {}
  }
  /*school*/
  .edu{
      margin-top: 190px;
      margin-left: 220px;
      width: 330px;
      font-size: 35px;
      letter-spacing: 2px;
      line-height: 100px;
  }

  .date{
    font-size: 17px;
    width:100px;
    line-height:100px;
    margin-top: 220px;
    margin-left: -168px;
  }
  /*專案*/
  .crispy{
    width: 500px;
    height: 450px;
    margin-left: 200px;
    margin-top: 190px;
   
  }

  .project{
    width: 500px;
    height: 85px;
    background-color:#F0F38F;
    margin-top: 50px;
    margin-left: 319px;
  }
 .project-text{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
    padding-top: 48px;
    text-align: left;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-name: slidein;
    -moz-animation-name: slidein;
    
}
@-webkit-keyframes slidein {
    from {
      padding-left: 100%;
      width: 0%;
    }

    to {
      padding-left: 0%;
      width: 100%;
    }
  }
  
  @-moz-keyframes slidein {
    from {
      padding-left: 100%;
      width: 0%;
    }
 
    to {
      padding-left: 0%;
      width: 100%;
    }
  }

.business{
    font-size: 40px;
    padding-top: 75px;
    padding-left: 70px;
}
.business-text{
    font-size: 24px;
    padding-top: 60px;
    padding-left: 90px;
    width: 550px;
    line-height: 60px;
}
.web{
    width: 600px;
    height: 400px;
    margin-top: 150px;
    margin-left: 140px;
}
.tap{
    font-size: 40px;
    padding-top: 165px;
    padding-left: 33px;
}
.tap-text{
    font-size: 24px;
    padding-top: 55px;
    padding-left: 50px;
    width: 550px;
    line-height: 60px;
}
/*社團*/
.gray{
    width:82%;
    height:480px;
    background-color:#DFDEDB;
    margin-top: 150px;
    margin-left: 10%;
    position: absolute;
    z-index: +0;
}
.actyellow{
  width: 130px;
  height: 500px;
  background-color:#F0F38F;
  z-index: +2;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 35px;
  letter-spacing: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 100px;
  margin-left: 5%;
}
.container2 {
    position: relative;
    width: 550px;
    height: 380px;
    margin-right: 50px;
    margin-top: 210px;
  }
  .image {
    opacity: 1;
    display: block;
    width: 550px;
    height: 380px;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: +5;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .container2:hover .image {
    opacity: 0.3;
  }
  .container2:hover .middle {
    opacity: 1;
  }
  .container-text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

/*工作經驗*/
.exyellow{
    width: 130px;
    height: 500px;
    background-color:#F0F38F;
    z-index: +2;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 100px;
}
.container3 {
  position: relative;
  width: 550px;
  height: 380px;
  margin-right: 50px;
  margin-top: 210px;
}
.container3:hover .image {
  opacity: 0.3;
}
.container3:hover .middle {
  opacity: 1;
}






